.App {
  text-align: center;
  width: 100%;
  max-height: fit-content;
  background-color: black;
  margin: auto;
}

.App-header {
  padding: 0 96px;
  margin: 0 130px;
  font-family: "Poppins", sans-serif;
  height: 1035px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: black;
}

.App-link {
  color: #61dafb;
}

#mainContainer {
  margin: 35px 0 150px;
}

.homeContainer {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  flex-grow: "1";
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  overflow-y: scroll;
}

.App-body {
  min-height: 125vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#headerText {
  font-size: larger;
  margin-bottom: 25px;
  padding-top: 3em;
  padding-bottom: 2em;
}

#welcomeText {
  text-align: left;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.mainText {
  text-align: left;
  margin-top: 30px;
}

.sectionDesc {
  color: rgb(180, 180, 180);
  font-size: 15px;
}

.titleItems {
  margin: auto;
}
