#resumeButton {
    display: block;
    color:red;
    height: 35px;
    align-content: center;
    width: 25%;
}

#resumeButton:hover {
    color:white;
    background-color: red;
    border: 3px solid red;
}

.iconStyle{
    margin-left:5px;
}

#socialLinkss {
    font-size: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* color: rgba(0, 0, 0, 0.543); */
    margin-bottom:20px;
}
.links {
    font-weight:bolder;
    margin: auto;
    padding:2px 15px;
    color: rgba(0, 0, 0, 0.646);
    /* border-bottom: 5px solid white; */
}
.links a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.646);
}

.links a:hover {
    color: #ff4848a8;
    border-bottom: 4px solid #ff4848a8;
    animation-name: fadeColors;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes fadeColors {
    from {
      /* margin-right: 20%; */
      font-size: 40px;
      opacity: 50%;
      color: rgba(0, 0, 0, 0.646);
      border-bottom: 0px solid rgba(0, 0, 0, 0.646);
    }
  
    to {
      opacity: 100%;
      color: #ff4848a8;
      font-size:50px;
      border-bottom: 4px solid #ff4848a8;
    }
  }